<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap-theme.css}"/>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/team/">球队 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">球员</a></li>
                <li><a href="#">视频链接</a></li>
                <li><a href="#">记录</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">用户信息</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script th:src="@{~/js/bootstarp.js}"></script>
<script th:src="@{~/js/jquery.js}"></script>

</body>

</html>